{{ 'new-announcement.css' | asset_url | stylesheet_tag }}
{{ 'content-tabs.js' | asset_url | script_tag }}
<section class="countdown">
  <div>
    <span id="months">00</span>
    <div class="label">Months</div>
  </div>
  <div>
    <span id="days">00</span>
    <div class="label">Days</div>
  </div>
  <div>
    <span id="hours">00</span>
    <div class="label">Hours</div>
  </div>
  <div>
    <span id="minutes">00</span>
    <div class="label">Minutes</div>
  </div>
  <div>
    <span id="seconds">00</span>
    <div class="label">Seconds</div>
  </div>
</section>
<a class="offer" href="#CardLink-template--23375981936921__featured_collection-9661304045849">special offer</a>




